<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>
    <variable name="modulename" value="EspVueMeteo" />
    <variable name="logFileName" value="${basedir}/Logs/${date:format=yyyy-MM-dd}_${modulename}.log" />
    <variable name="layoutPrefix" value="${date:format=HH\:mm\:ss}" />
    <variable name="layoutConsoleSuffix" value="[${level}] : [${message}] | ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
    <variable name="layoutFileSuffix" value="[${level}] : [${message} ]         //[${logger}] [${stacktrace}] | ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
    <targets async="true">
        <target name="console" xsi:type="ColoredConsole" layout="${layoutPrefix} ${layoutConsoleSuffix}" />
        <target name="file" xsi:type="File" fileName="${logFileName}" layout="${layoutPrefix} | ${layoutFileSuffix}" enableFileDelete="true" archiveEvery="Day" maxArchiveFiles="30" />
    </targets>
    <rules>
        <!--Skip non-critical Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" maxLevel="Info" final="true" />
        <logger name="*" minlevel="Trace" writeTo="file" />
        <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
</nlog>